nav {
    background-color: blue;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.searchedCities {
    background-color: green;

}

.weatherForecast {
    width: 65vw;
    height: 20vh;
    background-color: aqua;
}


